.Header {
    max-width: 1980px;
    padding: 0 30px;
    border-bottom: 1px solid grey;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}